.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*
terraform.tfplan
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

.env
docker/db/.env

backups/
*.dump
*.sql.gz

.DS_Store
.vscode/
.idea/